{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
    <div>
        {% for message in messages %}
            <div class='answer {{ message.role }}'>
                {{ message.content }}
            </div>
        {% endfor %}
    </div>
    <form method="post">
        Your request :
        <input type="text" name="userRqChat"/>
        <input type="submit" value="send" />
    </form>

</div>
{% endblock %}
