{% extends 'base.html.twig' %}

{% block title %}New ChatSession{% endblock %}

{% block body %}
    <h1>Create new ChatSession</h1>

    {{ include('chat_session/_form.html.twig') }}

    <a href="{{ path('app_chat_session_index') }}">back to list</a>
{% endblock %}
